.rounded-circle{
    height: 180px;
    width: 190px;
   
  }

  .review-container{
    margin: 3rem;
    font-family: 'Poppins', sans-serif;
    /* background-color: #DC8686;
    color:white; */
   
  }